
body {
    background-color: azure;
}

table {
    border: solid 2px; 
    border-collapse: collapse;
}

table th {
    border-bottom: double 2px;
    border-right: solid 1px;
    text-align: center;
}

table td {
    border: solid 1px;
    text-align: left; 
}
